@import "/home/yusa/.cache/wal/colors-waybar.css";

* { border: none;
    border-radius: 0px;
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: @transfarans; 
}

#workspaces {
    background: #11111B;
    margin: 6.5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
    border-bottom: 2px solid @color5;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: @color2;
    background-color: @color2;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: @color5;
    color: @color5;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

#workspaces button.active {
    color: @color5;
    background-color: @color5;
    border-radius: 16px;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.2s ease-in-out;
}

#pulseaudio,
#clock,
#tray,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-vpn,
#custom-power-button { 
    background: #11111B;
    margin: 7.5px 3px;
    padding: 0px 17px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}

#custom-power-button {
    margin-right: 25px;
    color: @color5;
    border-bottom: 2px solid @color5;
    padding: 0 15px;
}

#clock {
    color: @color1; 
    border-bottom: 2px solid @color1;
    
}

#clock.date {
    color: @color6; 
    border-bottom: 2px solid @color6;
}

#temperature {
    color: @color5; 
    border-bottom: 2px solid @color5;
    
}

#pulseaudio {
    color: @color4; 
    border-bottom: 2px solid @color4;
    
}

#custom-sway {
    color: @color4; 
    border-bottom: 2px solid @color4;

}
    
#tray {
    color: @color4; 
    border-bottom: 2px solid @color4;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @color1; 
}

#idle_inhibitor.activated {
    color: @color1; 
}

#custom-vpn {
    color: @color7; 
    padding-left: 6px;
    padding-right: 6px;
}

#custom-myth {
    background-color: #000000;
    margin: 7.5px 3px;
    padding: 0px 15px;
    border-radius: 16px;
    color: @color2; 
    border-bottom: 2px solid @color2;
    
}

#custom-sway {
    background-color: #000000;
    margin: 7.5px 3px;
    padding: 0px 15px;
    border-radius: 16px;
    color: @color4; 
    border-bottom: 2px solid @color4;
}

#custom-clients {
    background-color: #000000;
    margin: 7.5px 7px;
    padding: 0px 15px;
    border-radius: 16px;
    color: @color3; 
    border-bottom: 2px solid @color3;
}
#custom-yusa,#network{
    background-color: #000000;
    margin: 7.5px 3px;
    padding: 0px 15px;
    border-radius: 16px;
    color: @color5; 
    border-bottom: 2px solid @color5;
}

#disk,#memory,#cpu {
    color: @color1;
    border-bottom: 2px solid @color1;
}

#power-profiles-daemon {
    background: #11111B;
    margin: 7.5px 3px;
    padding: 0px 15px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
    color: @color3; 
    border-bottom: 2px solid @color3;
    
}
